
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.content {
    padding: 20px;
}

.search {
    text-align: center;
    margin-top: 10px;
}

/* navigation.css */
ul {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Additional styles can be added based on your design preferences */